DEBUG=True

SECRET_KEY=django-insecure-example-only-change-this

DATABASE_URL=postgresql://neondb_owner:npg_Keag8TRU2bmD@ep-jolly-wildflower-au8n0spu-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

EMAIL_HOST_USER=careconnect.project.monolith@gmail.com
EMAIL_HOST_PASSWORD=plxn pazg fepb bwbc
OPENAI_API_KEY=your_api_key_here