DEBUG=True

SECRET_KEY=replace-with-your-own-django-secret-key

DATABASE_URL=replace-with-your-neon-development-connection-string
EMAIL_HOST_USER=yourgmail@gmail.com
EMAIL_HOST_PASSWORD=your_app_password